<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

        <title>
            Registration page
        </title>
    </head>
    <body>
        <h1>
            Register Here
        </h1>
        <hr>

        <br>
        


        <form method="POST" action="\register\">
            {% csrf_token %}
            
            {% for f in form %}
            <td>{{f.label}}</td>
                <td>{{f}}</td>
            </tr>
        </table>
            </br>
            </br>
            </br>
            {% endfor %}
            {{pform.as_p}}
            {{form.errors}}
            
    <input type="submit" class="btn btn-outline-success btn-lg" value="Register" name="Create User"> </a>
        </form>
    </body>
</html>